@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
	font-size: 1rem;
	background-color: pink;
	color: darkslategrey;
}

.site-header {
	border-bottom: 1px solid #ccc;
	padding: 0.5em 1em;
}
.site-header::after {
	content: "";
}
.site-identity {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.site-identity h1 {
	font-size: 1.6em;
	left: 50%;
	margin: 0.7em 0 0.3em 0;
	text-align: center;
	display: inline-block;
	cursor: pointer;
}
.site-identity img {
	max-width: 55px;
	margin: 0 10px 0 0;
	cursor: pointer;
}
.site-navigation {
	float: right;
}
.site-navigation ul,
li {
	margin: 0;
	padding: 0;
}
.site-navigation li {
	display: inline-block;
	margin: 1.4em 1em 1em 1em;
}

.cp-text {
	color: #fff;
	text-shadow: 0 1px rgba(255, 255, 255, 0.1);
	text-align: left;
	margin: 0px;
}

.signature {
	background-color: #000;
	height: 30px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.picture img {
	max-width: 100%;
	max-height: 100%;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 50px;
	margin: 50px auto;
	max-width: 1000px;
}

.admin-login {
	padding: 10px 30px;
	background-color: green;
	color: white;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
}

.card {
	cursor: pointer;
}

.login-page {
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
}
.form {
	position: relative;
	z-index: 1;
	background: #ffffff;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4caf50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
	background: #43a047;
}
.form .message {
	margin: 15px 0 0;
	color: #b3b3b3;
	font-size: 12px;
}
.form .message a {
	color: #4caf50;
	text-decoration: none;
}
.form .register-form {
	display: none;
}
.container {
	position: relative;
	z-index: 1;
	max-width: 300px;
	margin: 0 auto;
}
.container:before,
.container:after {
	content: "";
	display: block;
	clear: both;
}
.container .info {
	margin: 50px auto;
	text-align: center;
}
.container .info h1 {
	margin: 0 0 15px;
	padding: 0;
	font-size: 36px;
	font-weight: 300;
	color: #1a1a1a;
}
.container .info span {
	color: #4d4d4d;
	font-size: 12px;
}
.container .info span a {
	color: #000000;
	text-decoration: none;
}
.container .info span .fa {
	color: #ef3b3a;
}

.pb-5 {
	padding-bottom: 20px;
}

.error {
	text-align: left;
	margin: 0;
	font-size: 12px;
	color: red !important;
	margin-bottom: 15px;
}

.d-none {
	display: none !important;
}

.article-container {
	margin: 50px auto;
	max-width: 1000px;
	display: grid;
	grid-gap: 30px;
}

.form-group label {
	display: block;
	font-weight: 500;
}

.form-group input {
	outline: 0;
	background-color: white;
	width: 100%;
	border: 0;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.article-container button {
	text-transform: uppercase;
	outline: 0;
	background: #4caf50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #ffffff;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.newh1 {
	text-align: center;
	margin-top: 30px;
}

#newArticle {
	float: right;
	margin-right: 14px;
}

.blog-picture {
	height: 300px;
	width: 300px;
}

.article {
	margin: 50px auto;
	max-width: 1000px;
}

.blog-image {
	width: 1000px;
	height: 500px;
	margin-top: 50px;
	margin-bottom: 50px;
}

#description {
	background-color: white;
}

.edit-button {
	padding: 10px 30px;
	background-color: green;
	color: white;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	display: inline-block;
}

.delete-button {
	padding: 10px 30px;
	background-color: red;
	color: white;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	display: inline-block;
}
